/* Reset CSS */

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 16px;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	
	img{
		max-width: 100%;
	}
	
	html p, 
	html span,
	html li,
	html h1,
	html h2,
	html h3,
	html h4,
	html a {
		font-family: 'Roboto', sans-serif;
		color: #2d2d2d;
	}
	
	input:-webkit-autofill,
	input:-webkit-autofill:hover, 
	input:-webkit-autofill:focus,
	textarea:-webkit-autofill,
	textarea:-webkit-autofill:hover,
	textarea:-webkit-autofill:focus,
	select:-webkit-autofill,
	select:-webkit-autofill:hover,
	select:-webkit-autofill:focus {
		-webkit-box-shadow: 0 0 0px 1000px transparent inset;
		transition: background-color 5000s ease-in-out 0s;
	}

/* 
General
*
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap')

html{scroll-behavior:smooth}

body {
	background-color: #FFE600;
}

.ghost-text {
	display: inline-block;
	margin: 5px 0;
	padding: 2px;
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 300;
	color: #FFF;
	background: #2d2d2d;
}

.easy-eyes {
	display: inline-block;
	margin: 5px 0;
	padding: 2px;
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 300;
	background-color: #310D23;
	color: #FFF;
}

/* Highlights */

.m-light {
	font-size: 1.8rem;
	line-height: 1rem;
	font-weight: 300;
}

.xl-heavy {
	font-size: 4.5rem;
	font-weight: 700;
}

.m-highlight {
	display: inline-block;
	background-color: #FF7E7E;
	color: #FFF;
	font-size: 2rem;
	font-weight: 300;
}

.text-highlight {
	background-color: #FF7E7E;
	color: #2d2d2d;
	font-weight: 500;
}

/* Titles */ 

h2,
.h2 {
	margin-top: 10px;
	font-size: 2rem;
}

h3,
.h3 {
	margin-top: 10px;
	font-size: 2rem;
}

h4,
.h4 {
	margin-top: 10px;
	font-size: 1.4rem;
}

.title-highlight-dm {
	display: inline-block;
	margin-bottom: 10px;
	padding-right: 15px;
	background-color: #FFE600;
	font-weight: 500;
}

.title-highlight {
	display: inline-block;
	margin-bottom: 10px;
	padding: 0 15px;
	background-color: #310D23;
	color: #FFF;
	font-weight: 500;
}

/* 
Landing page 
*
*/

/* Menu */

.header {
	margin-top: 20px;
}

.header .logo-container a {
	max-width: 100%;
	display: block;
}

.menu-items {
	list-style: none;
}

.menu li {
	display: inline-block;
	margin-right: 15px;
}

.menu li a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.2rem;
	color: #2d2d2d;
}


/* Presentation */

#presentation {
	padding: 200px 0;
}




/* About me */

#aboutme {
	padding: 100px 0;
	background-image: url("../img/vhs.jpg");
}

.fespi-picture {
	max-width: 100%;
}


/* Projects */

#projects {
	padding: 100px 0;
}

.project-row {
	display: flex;
	width: 100vw;
}

.project-content {
	width: 33.33vw;
	background-color: transparent;
	background-size: cover;
	background-position: center center;
}

#projectOne,
#projectTwo,
#projectThree,
#projectFour,
#projectFive,
#projectSix {
	display: inline-block;
	position: relative;
	width: 50%;
}
#projectOne:after,
#projectTwo:after,
#projectThree:after,
#projectFour:after,
#projectFive:after,
#projectSix:after {
	content: '';
	display: block;
	margin-top: 75%;
}
#projectOneContent,
#projectTwoContent,
#projectThreeContent,
#projectFourContent,
#projectFiveContent,
#projectSixContent {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	/* TRANSITION */
	-webkit-transition: background 1s;
	-moz-transition: background 1s;
	-o-transition: background 1s;
	transition: background 1s;
}

#projectOneContent,
#projectTwoContent,
#projectThreeContent,
#projectFourContent,
#projectFiveContent,
#projectSixContent {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	/* TRANSITION */
	-webkit-transition: background 1s;
	-moz-transition: background 1s;
	-o-transition: background 1s;
	transition: background 1s;
}

#projectOneContent {
	background-image: url("https://placekitten.com/g/1000/1000");
}

#projectOneContent:hover {
	background-image: url("https://placekitten.com/1000/1000");
}

#projectTwoContent {
	background-image: url("https://placekitten.com/g/1000/1000");
}

#projectTwoContent:hover {
	background-image: url("https://placekitten.com/1000/1000");
}

#projectThreeContent {
	background-image: url("https://placekitten.com/g/1000/1000");
}

#projectThreeContent:hover {
	background-image: url("https://placekitten.com/1000/1000");
}

#projectFourContent {
	background-image: url("https://placekitten.com/g/1000/1000");
}

#projectFourContent:hover {
	background-image: url("https://placekitten.com/1000/1000");
}

#projectFiveContent {
	background-image: url("https://placekitten.com/g/1000/1000");
}

#projectFiveContent:hover {
	background-image: url("https://placekitten.com/1000/1000");
}

#projectSixContent {
	background-image: url("https://placekitten.com/g/1000/1000");
}

#projectSixContent:hover {
	background-image: url("https://placekitten.com/1000/1000");
}




.project-name {

}


/* Contact */

#contact {
	padding: 100px 0;
	background-image: url("../img/vhs.jpg");
}


/* BTT */

#myBtn,
#myOtherBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover,
#myOtherBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}




/* 
Project
*
*/


/* General */

.project-cover {
	height: 600px;
	background-size: cover;
	background-position: top center;
}

.project-image {
	height: 800px;
	background-size: cover;
	background-position: top center;
}

.goal-image {
	height: 100%;
	background-size: cover;
	background-position: top center;
	background-image: url("../img/target1.png");
}

.users-image {
	height: 100%;
	background-size: cover;
	background-position: top center;
	background-image: url("../img/users2.png");
}

.process-image img {
	max-width: 100%;
}

/* Project one images */

#projectOneCover {
	background-image: url("https://placekitten.com/3000/1200");
}


#projectOneImage {
	background-image: url("https://placekitten.com/3000/800");
}


